Practica8/AplicacionEscritorioP8/src/META-INF/wsdl/localhost_8080/Practica8WS/Practica8WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://practica8.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://practica8.me.org/">

<xs:element name="comprar" type="tns:comprar"/>

<xs:element name="comprarResponse" type="tns:comprarResponse"/>

<xs:element name="pagar" type="tns:pagar"/>

<xs:element name="pagarResponse" type="tns:pagarResponse"/>

<xs:complexType name="comprar">
<xs:sequence>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="num_productos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprarResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagar">
<xs:sequence>
<xs:element name="numero_tarjeta" type="xs:string" minOccurs="0"/>
<xs:element name="monto" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="codigo_CVV" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>